{% extends "base.html" %}

{% block content %}
    <h2>Books Collection</h2>
    
    {% if books %}
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Year</th>
                <th>Read</th>
                <th>Actions</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td style="max-width: 300px; word-wrap: break-word;">{{ book.desc }}</td>
                <td>{{ book.year }}</td>
                <td style="width: 6%;">
                    {% if book.read %}
                        Yes 
                        <a href="{{ url_for('toggle', id=book.id) }}">[Mark Unread]</a>
                    {% else %}
                        No 
                        <a href="{{ url_for('toggle', id=book.id) }}">[Mark Read]</a>
                    {% endif %}
                </td>
                <td >
                    <a href="{{ url_for('edit_book', id=book.id) }}" class="edit-btn">Edit</a>
                    <form action="{{ url_for('delete_book', id=book.id) }}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No books added in collection yet... </p>
    {% endif %}
{% endblock %}